#body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* hedaer *//* -------------------------------------------------------------------------------------------------- */
#header{
    position: sticky;
    height : inherit;
    width: 100%;
    top: 0px;
   
    
}
/* -------------------------------------------------------------------------------------------------- */
    #header>.login-container, .content-box{
        flex: 1;
    }
    #header>.login-container{
        background-color: #ffffff;
        display: flex;
        width: inherit;
        justify-content: flex-end;
        padding: 0px;
        font-size: 12px;
    }

        .login-container>.login-box{
            background-color : #413e3e;
            color: #ffffff;
            margin-left: 10px;
            padding: 2px;
            margin-top: 2px;
            
        }
        .login-container>.sign-up{
            background-color: #413e3e;
            color: #ffffff;
            margin-left: 10px;
            margin-right: 10px;
            padding: 2px;
            margin-top: 2px;
        }

/* -------------------------------------------------------------------------------------------------- */
    #header>.content-box{
        display: flex;
        background-color: #ffffff;
        justify-content: center;
        padding : 5px;     
    }
        #header>.content-box>.header-content{
            display: flex;
            width: 70%;
            color: #ffffff;
            background-color: rgb(178, 178, 184);
            padding : 5px;
            margin-left: 5px;
            justify-content: space-around;
            
        }

        #header>.content-box>.header-content{
            display: flex;
            color: #ffffff;
            background-color: #b9f8f5;
            padding : 5px;
            justify-content: space-around;
            
        }

            #header>.content-box>.header-content>.problems{
                background-color: #817d7d;
                color: #ffffff;
                width: 90px;
                text-align: center;
                margin-left: 5px;
            }
            #header>.content-box>.header-content>.contests{
                background-color: #817d7d;
                color: #ffffff;
                width: 90px;
                text-align: center;
                margin-left: 5px;
            }
            #header>.content-box>.header-content>.status{
                background-color: #817d7d;
                color: #ffffff;
                width: 90px;
                text-align: center;
                margin-left: 5px;
            }
            #header>.content-box>.header-content>.rank{
                background-color: #817d7d;
                color: #ffffff;
                width: 90px;
                text-align: center;
                margin-left: 5px;
            }
            #header>.content-box>.header-content>.board{
                background-color: #817d7d;
                color: #ffffff;
                width: 90px;
                text-align: center;
                margin-left: 5px;
            }
/* -------------------------------------------------------------------------------------------------- */
    #header>.logo{
        font-size: 25px;
        background-color: rgb(255, 255, 255);
        color: rgb(143, 248, 155);
        position: absolute;
        left: 15px;
        top: 15px;
    }
    
/* main *//* -------------------------------------------------------------------------------------------------- */
#main{
    min-height: 100%;
}

/* footer *//* -------------------------------------------------------------------------------------------------- */
#footer{
    margin-top : auto;
    background: wheat;
    
}
/* -------------------------------------------------------------------------------------------------- */
    #footer>.footer-content-box{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .foot{
        background: yellow;
        text-align: center;
    }
    .version{
        background: rgb(178, 178, 184);
        color : #ffffff;
        text-align: center;
        padding: 5px;
        margin: auto;
    }

